{% set title = 'Styleguide: ' ~ siteName %}
{% set pages = [
    'Typography',
    'Color',
    'Layout',
    'Buttons',
    'Icons',
    'Form',
    'Utilities'
] %}
<!DOCTYPE html>
<html lang="{{ craft.app.language|slice(0,2) }}" class="html no-js{{ htmlClass|default('') }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1">
    <meta name="mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="apple-mobile-web-app-title" content="{{ siteName }}"/>
    <meta name="msapplication-TileColor" content="#003c85"/>
    <meta name="msapplication-config" content="../assets/images/favicon/browserconfig.xml"/>
    <meta name="theme-color" content="#ffffff"/>
    <title>Styleguide by PWT</title>
    <link href="../assets/images/favicon/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180"/>
    <link href="../assets/images/favicon/favicon-32x32.png" rel="icon" type="image/png" sizes="32x32"/>
    <link href="../assets/images/favicon/favicon-16x16.png" rel="icon" type="image/png" sizes="16x16"/>
    <link href="../assets/images/favicon/site.webmanifest" rel="manifest"/>
    <link href="../assets/images/favicon/safari-pinned-tab.svg" rel="mask-icon" color="#003c85"/>
    <link href="../assets/images/favicon/favicon.ico" rel="shortcut icon"/>
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/styleguide.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.15.6/build/styles/default.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
</head>
<body>
{% block bodyContent %}
    <!-- Settings -->
    <div class="styleguide-settings">
        <button class="sg-menu-button js-toggle-menu">Navigation</button>
        <button class="sg-menu-button js-toggle-grid" type="button">Grid</button>
        <button class="sg-menu-button js-toggle-markup sg-markup-hidden" type="button">Markup</button>
    </div>

    <div class="styleguide">
        <!-- Navigation -->
        <div class="styleguide-navigation">
            <div class="styleguide-navigation__inner">
                <ul data-tabs>
                    <li>
                        <a data-tabby-default href="#home">
                            <img class="styleguide-logo"
                                 src="../assets/images/logo.png"
                                 alt="Logo van PWT"
                            />
                        </a>
                    </li>
                    {% for page in pages %}
                        <li>
                            <a href="#{{ page|lower }}">{{ page }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <!-- Body -->
        <div class="styleguide-body">
            <div class="container">
                <div class="sg-content" id="home">
                    {% include '_pages/home.twig' %}
                </div>
                {% for page in pages %}
                    <div class="sg-content" id="{{ page|lower }}">
                        {% include '_pages/' ~ page|lower ~ '.twig' %}
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>
{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js" defer></script>
<script src="https://cdn.jsdelivr.net/gh/cferdinandi/tabby@12/dist/js/tabby.polyfills.min.js" defer></script>
<script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@15/dist/smooth-scroll.polyfills.min.js" defer></script>
<script src="https://cdn.jsdelivr.net/gh/cferdinandi/gumshoe@4/dist/gumshoe.polyfills.min.js" defer></script>
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.15.6/build/highlight.min.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/toastr@2.1.4/toastr.min.js" defer></script>
<script src="../assets/js/styleguide.js" defer></script>

</body>
</html>
